<div class="container"
         ng-controller="addStudentController">
    <form class="form"
          ng-submit="addStudent()">
        <legend>Add New Student</legend>
        <div class="form-group">
            <input type="text"
                   ng-model="student.firstName"
                   placeholder="First Name"
                   class='form-control'
                   required
                   >
        </div>
        <div class="form-group">
            <input type="text"
                   ng-model="student.lastName"
                   placeholder="Last Name"
                   class='form-control'
                   required
                   >
        </div>
        <div class="form-group">
            <select ng-model="student.year"
                    class='form-control'>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-warning btn-md">
        </div>
    </form>
    <br><br>
    <h1>Roster</h1>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in allStudents">
                <td make-editable>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.year}}</td>
                <td>
                    <button class="btn btn-sm btn-info">Edit</button>
                    <button class="btn btn-sm btn-danger"
                            ng-click="deleteStudent(student._id)"
                            >
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>