<div class="container">
    <form class="form" ng-submit="login()">
        <legend>Login Form</legend>
        <div class="form-group">
            <input type="email"
                   name="user.email"
                   ng-model="user.email"
                   placeholder="Email"
                   required
                   >
        </div>
        <div class="form-group">
            <input type="password"
                   name="user.password"
                   ng-model="user.password"
                   placeholder="Password"
                   required
                   >
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-warning btn-md">
        </div>
    </form>
</div>