<div class="container-fluid">
    <div class="nav row">
        <a href="/#/">
            <h3>Home</h3>
        </a>
        <a href="/#/auth/register" class="inline-text">
            <p class="inline-text"
               style="margin-left: 50%;">
                Register
            </p>
        </a>
        <a href="/#/auth/login" class="inline-text">
            <p class="inline-text">Login</p>
        </a>
        <a href="/#/auth/logout" class="inline-text">
            <p class="inline-text">Logout</p>
        </a>
    </div>
</div>